# Week 3 Assignment: Anil Singh

### 1. Importing required liberary

In [1]:
import numpy as np
import pandas as pd

import json
import folium

import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans

from geopy.geocoders import Nominatim

from bs4 import BeautifulSoup
from urllib.request import urlopen
import requests
from pandas.io.json import json_normalize

### 2. Parsing the html from  https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
page = urlopen(url).read().decode('utf-8')
soup = BeautifulSoup(page, 'html.parser')

wiki_table = soup.body.table.tbody

### 3. Extracting data from the table to the data frame

In [3]:
def get_data_cell(element):
    cells = element.find_all('td')
    row = []
    
    for cell in cells:
        if cell.a:            
            if (cell.a.text):
                row.append(cell.a.text)
                continue
        row.append(cell.string.strip())
        
    return row

def get_data_row():    
    data = []  
    
    for tr in wiki_table.find_all('tr'):
        row = get_data_cell(tr)
        if len(row) != 3:
            continue
        data.append(row)        
    
    return data

In [4]:
data = get_data_row()
columns = ['Postcode', 'Borough', 'Neighbourhood']
df = pd.DataFrame(data, columns=columns)
df.head(11)

   Postcode           Borough     Neighbourhood
0       M1A      Not assigned      Not assigned
1       M2A      Not assigned      Not assigned
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
9       M8A      Not assigned      Not assigned
10      M9A         Etobicoke  Islington Avenue


### 4. Cleaning the data

In [5]:
#Removing Not Assigned

df1 = df[df['Borough'] != 'Not assigned']
df1 = df1.sort_values(by=['Postcode','Borough'])

df1.reset_index(inplace=True)
df1.drop('index',axis=1,inplace=True)

#Removing Duplicates
df_postcodes = df1['Postcode']
df_postcodes.drop_duplicates(inplace=True)
df2 = pd.DataFrame(df_postcodes)
df2['Borough'] = '';
df2['Neighbourhood'] = '';


df2.reset_index(inplace=True)
df2.drop('index', axis=1, inplace=True)
df1.reset_index(inplace=True)
df1.drop('index', axis=1, inplace=True)

for i in df2.index:
    for j in df1.index:
        if df2.iloc[i, 0] == df1.iloc[j, 0]:
            df2.iloc[i, 1] = df1.iloc[j, 1]
            df2.iloc[i, 2] = df2.iloc[i, 2] + ',' + df1.iloc[j, 2]
            
for i in df2.index:
    s = df2.iloc[i, 2]
    if s[0] == ',':
        s =s [1:]
    df2.iloc[i,2 ] = s

In [6]:
df2.tail(10)

    Postcode     Borough                                      Neighbourhood
93       M9A   Etobicoke                                   Islington Avenue
94       M9B   Etobicoke  Cloverdale,Islington,Martin Grove,Princess Gar...
95       M9C   Etobicoke  Bloordale Gardens,Eringate,Markland Wood,Old B...
96       M9L  North York                                      Humber Summit
97       M9M  North York                                    Emery,Humberlea
98       M9N        York                                             Weston
99       M9P   Etobicoke                                          Westmount
100      M9R   Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V   Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W   Etobicoke                                          Northwest

In [7]:
df2.shape

(103, 3)

### Reading Geospatical Data

In [8]:
df2['Latitude'] = '0';
df2['Longitude'] = '0';

df_geo = pd.read_csv('D://ANIL SINGH//FINAL VERSION//DATA SCIENCE CERTIFICATE//ASSIGNMENT 9//Geospatial_Coordinates.csv')
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [9]:
for i in df2.index:
    for j in df_geo.index:
        if df2.iloc[i, 0] == df_geo.iloc[j, 0]:
            df2.iloc[i, 3] = df_geo.iloc[j, 1]
            df2.iloc[i, 4] = df_geo.iloc[j, 2]
            
df2.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.8067,-79.1944
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.7845,-79.1605
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.7636,-79.1887
3,M1G,Scarborough,Woburn,43.771,-79.2169
4,M1H,Scarborough,Cedarbrae,43.7731,-79.2395

### Clustering the neighborhoods in Toronto

In [10]:
df3 = df2.copy()
df3 = df3[df2.Borough.str.contains("Toronto")]
df3.head()

   Postcode          Borough                  Neighbourhood Latitude Longitude
37      M4E     East Toronto                    The Beaches  43.6764   -79.293
41      M4K     East Toronto    The Danforth West,Riverdale  43.6796  -79.3522
42      M4L     East Toronto  The Beaches West,India Bazaar   43.669  -79.3156
43      M4M     East Toronto                Studio District  43.6595  -79.3409
44      M4N  Central Toronto                  Lawrence Park   43.728  -79.3888

In [11]:
toronto_map = folium.Map(location=[43.65, -79.38], zoom_start=12)

X = df3['Latitude']
Y = df3['Longitude']
Z = np.stack((X, Y), axis=1)

kmeans = KMeans(n_clusters=4, random_state=0).fit(Z)

clusters = kmeans.labels_
colors = ['red', 'green', 'blue', 'yellow']
df3['Cluster'] = clusters

for latitude, longitude, borough, cluster in zip(df3['Latitude'], df3['Longitude'], df3['Borough'], df3['Cluster']):
    label = folium.Popup(borough, parse_html=True)
    folium.CircleMarker(
        [latitude, longitude],
        radius=5,
        popup=label,
        color='black',
        fill=True,
        fill_color=colors[cluster],
        fill_opacity=0.7).add_to(toronto_map)  

toronto_map